body { 
    background-color: #161616;
    overflow: hidden;
  }

  .glow-top {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vh;
    height: 70vh;
    z-index: -1;
    background: radial-gradient(circle at center, #AF48FF -40%, transparent 70%);
    mix-blend-mode: overlay;
    pointer-events: none;
    
}
  
  .social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.icon {
    margin-bottom: 13px;
    transition: transform 0.5s ease;
}

.icon:hover {
    transform: scale(1.2);
}

